<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Location</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <!-- <tbody>
    <ng-container *ngFor="let event of events">
      <tr *ngIf="!event.isEditing; else editRow">
        <td>{{ event.name }}</td>
        <td>{{ event.date }}</td>
        <td>{{ event.location }}</td>
        <td>{{ event.description }}</td>
        <td>
          <button (click)="editEvent(event)">Edit</button>
          <button (click)="deleteEvent(event.id)">Delete</button>
        </td>
      </tr>
      <ng-template #editRow>
        <tr>
          <td><input [(ngModel)]="event.name" /></td>
          <td><input [(ngModel)]="event.date" /></td>
          <td><input [(ngModel)]="event.location" /></td>
          <td><input [(ngModel)]="event.description" /></td>
          <td>
            <button (click)="saveEvent(event)">Save</button>
            <button (click)="cancelEdit(event)">Cancel</button>
          </td>
        </tr>
      </ng-template>
    </ng-container>
  </tbody> -->
</table>